.container {
     width: 100vw;
     height: 90vh;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
}


.login-container {
  width: 380px;
  margin: 4em auto;
  padding: 3em 2em 2em 2em;
  background: #fafafa;
  border: 1px solid #ebebeb;
  box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}

.login-container > * {
  width: 100%;
}

.login-right-align {
  text-align: right;
}

input.login-right-align::-webkit-outer-spin-button,
input.login-right-align::-webkit-inner-spin-button {
  display: none;
}

input.login-right-align {
  -moz-appearance: textfield;
}
