<div class="basic-container">
<mat-card *ngIf="lineChartData?.length > 0" >
  <mat-card-title>
      <span flex>Escala</span>
  </mat-card-title>
  <mat-divider></mat-divider>
  <div style="height:250px;">
  <ngx-charts-line-chart
    [scheme]="blueScheme"
    [results]="lineChartData"
    [gradient]="false"
    [xAxis]="true"
    [yAxis]="true"
    [legend]="false"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel">
   </ngx-charts-line-chart>
  </div>
</mat-card>

<div style="height:150px;" *ngIf="numberChartData?.length > 0" >
  <ngx-charts-number-card
                        [scheme]="blueScheme"
                        [results]="numberChartData">
  </ngx-charts-number-card>
</div>

</div>

