<div class="basic-container">

<mat-card class="boarding-card">
  <mat-card-title>
      <span flex>Escala</span>
  </mat-card-title>
  <mat-divider></mat-divider>
  <div style="height:250px;">
  <ngx-charts-line-chart
    [scheme]="blueScheme"
    [results]="lineChartData"
    [gradient]="false"
    [xAxis]="true"
    [yAxis]="true"
    [legend]="false"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel">
   </ngx-charts-line-chart>
  </div>
</mat-card>

  <ngx-charts-number-card
    [scheme]="blueScheme"
    [results]="numberChartData">
  </ngx-charts-number-card>


</div>
